.edit {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-size: 100% 100vh;
  background-attachment: fixed;
  position: relative;
}

.editImg {
  width: 50%;
  height: auto;
  margin: 15px;
  text-align: center;
  font-size: 35px;
  background-color: rgb(208, 208, 208, 0.7);
  padding: 10px;
  border-radius: 15px;
  color: rgb(119, 119, 119);
  box-shadow: 5px 5px 10px 1px gray;
  position: relative;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.editImg img {
  width: 90%;
  height: 90%;
  background-size: cover;
  border-radius: 15px;
}

.editForm {
  width: 80%;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.editFormGroup {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}
.editFormGroup input:focus {
}
.editFormGroup input ~ ::placeholder {
  color: rgb(83, 83, 83);
}
.editFormGroup textarea::-moz-placeholder {
  color: rgb(83, 83, 83);
}
.editFormGroup input {
  background-color: hsla(32, 85%, 89%, 0.9);
  border-radius: 15px;
  box-shadow: 5px 5px 15px 1px rgb(98, 90, 74);
  position: relative;
  width: 85%;
  font-size: 30px;
  border: none;
  padding: 20px;
  margin: 0 auto;
  outline: none;
}
.editFormGroup textarea {
  background-color: hsla(32, 85%, 89%, 0.9);
  border-radius: 15px;
  box-shadow: 5px 5px 15px 1px rgb(98, 90, 74);
  margin-bottom: 20px;
  width: 90%;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 35px;
  height: 100vh;
  font-family: inherit;
  font-size: 20px;
  margin-top: 30px;
  transition: linear 0.4s;
  margin: 0 auto;
  margin-top: 15px;
  font-size: 24px;
  line-height: 40px;
  outline: none;
}

#addPhotoIcon {
  width: 35px;
  height: 35px;
  font-size: 30px;
  border-radius: 50%;
  color: rgb(118, 118, 118);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  bottom: 5px;
  right: 45px;
  background-color: wheat;
  margin: auto 0;
  transition: 0.5s;
}
#addPhotoIcon:hover {
  color: #454545;
}
#deletePhotoIcon {
  width: 35px;
  height: 35px;
  font-size: 23px;
  border-radius: 50%;
  color: rgb(115, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  bottom: 5px;
  right: 5px;
  background-color: wheat;
  font-weight: 800;
  transition: 0.5s;
}
#deletePhotoIcon:hover {
  color: rgb(180, 0, 0);
}

.editInput::placeholder {
  color: rgb(189, 185, 185);
  font-weight: 400;
}

.editInput:focus {
  outline-style: none;
}

.editSubmit {
  position: absolute;
  width: 90px;
  height: 40px;
  top: 18px;
  right: 90px;
  color: rgb(115, 0, 0);
  background-color: rgb(255, 204, 110);
  box-shadow: 2px 2px 5px gray;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  align-items: center;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.editSubmit:hover {
  background-color: rgb(255, 191, 73);
}
.loadingOn {
  border: 3px solid wheat; /* Light grey */
  border-top: 3px solid rgb(245, 183, 69); /* Blue */

  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 0.5s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loadingOff {
  display: none;
}
.homeButton {
  border-radius: 0%;
  border: none;
  position: absolute;
  top: 30px;
  right: -100px;
  padding: 10px;
}
.err {
  width: 50vw;
  align-self: center;
  font-size: 22px;
  color: rgb(255, 166, 0);
  background-color: #45454591;
  border-radius: 0 0 45% 45%;
  height: 25px;
  padding: 3px 0 5px 0;
  overflow: hidden;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  left: calc(50% - 20vw);
  transition: linear 0.4s;
  overflow: hidden;
}

.errBox {
  margin: 15px;
  margin-top: 0;
}

.loadingOn {
  border: 4px solid wheat; /* Light grey */
  border-top: 4px solid rgb(245, 183, 69); /* Blue */

  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin 0.5s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loadingOff {
  display: none;
}
.fetchErr {
  font-size: 28px;
  color: rgb(203, 8, 8);
  border-bottom: 1px solid rgb(143, 143, 143);
  font-family: "Courier New", Courier, monospace;
  padding: 4px 12px;
  border-radius: 15px 15px 0 0;
  background-color: rgba(254, 253, 252, 0.841);
  margin-bottom: 10px;
}
.categories {
  justify-content: center;
}
@media only screen and (max-width: 550px) {
  .editFormGroup input {
    padding: 10px;
    font-size: 18px;
  }
  .editFormGroup textarea {
    font-size: 16px;
    line-height: 30px;
    padding: 10px 20px;
  }

  #addPhotoIcon {
    width: 20px;
    height: 20px;
    font-size: 15px;
    right: 30px;
  }

  #deletePhotoIcon {
    width: 20px;
    height: 20px;
    font-size: 13px;
  }

  .editSubmit {
    top: 8px;
    height: 25px;
    width: 50px;
    font-size: 11px;
    right: 45px;
    border-radius: 5px;
  }
  .err {
    font-size: 13px;
    height: 14px;
  }
  .fetchErr {
    font-size: 14px;
  }
  .loadingOn {
    border: 2px solid wheat; /* Light grey */
    border-top: 2px solid rgb(245, 183, 69); /* Blue */
    width: 14px;
    height: 14px;
  }
}
@media only screen and (min-width: 551px) and (max-width: 850px) {
  .editFormGroup input {
    padding: 10px;
    font-size: 20px;
  }
  .editFormGroup textarea {
    font-size: 17px;
    line-height: 30px;
  }

  #addPhotoIcon {
    width: 25px;
    height: 25px;
    font-size: 19px;
    right: 35px;
  }

  #deletePhotoIcon {
    width: 25px;
    height: 25px;
    font-size: 17px;
  }

  .editSubmit {
    top: 8px;
    height: 28px;
    width: 65px;
    font-size: 13px;
    right: 60px;
  }
  .err {
    font-size: 14px;
    height: 15px;
  }
  .fetchErr {
    font-size: 16px;
  }
  .loadingOn {
    border: 2px solid wheat; /* Light grey */
    border-top: 2px solid rgb(245, 183, 69); /* Blue */
    width: 16px;
    height: 16px;
  }
}

@media only screen and (min-width: 851px) and (max-width: 1150px) {
  .editFormGroup input {
    padding: 15px;
    font-size: 26px;
  }
  .editFormGroup textarea {
    font-size: 20px;
    line-height: 33px;
  }

  #addPhotoIcon {
    width: 30px;
    height: 30px;
    font-size: 27px;
  }

  #deletePhotoIcon {
    width: 30px;
    height: 30px;
    font-size: 21px;
  }

  .editSubmit {
    top: 13px;
    height: 35px;
    width: 75px;
  }
  .fetchErr {
    font-size: 20px;
  }

  .err {
    font-size: 18px;
  }
  .loadingOn {
    border: 3px solid wheat; /* Light grey */
    border-top: 3px solid rgb(245, 183, 69); /* Blue */
    width: 19px;
    height: 19px;
  }
}

@media only screen and (min-width: 1151px) and (max-width: 1350px) {
  .err {
    font-size: 20px;
  }
  .fetchErr {
    font-size: 24px;
  }
  .loadingOn {
    border: 4px solid wheat; /* Light grey */
    border-top: 4px solid rgb(245, 183, 69); /* Blue */
    width: 22px;
    height: 22px;
  }
}

@media only screen and (min-width: 1351px) {
}
